<div class="card mt-3">  
    <div class="d-flex justify-content-between align-items-center p-3 bg-dark-subtle">  
        <h1 class="text-black">Fornecedor</h1>  
        <button class="btn btn-dark" [routerLink]="['novo']">Novo Fornecedor</button>  
    </div>  
      
    <div class="card-body ">  
        <table class="table table-hover">  
            <thead>  
                <tr>  
                    <th>#</th>  
                    <th>Fornecedor</th>  
                    <th>CNPJ</th> 
                    <th>IE</th> 
                    <th>Endereço</th> 
                    <th>Email</th> 
                    <th></th>  
                </tr>  
            </thead>  
            <tbody>  
                <tr *ngFor="let fornecedor of fornecedor">  
                    <td>{{ fornecedor.id }}</td>  
                    <td>{{ fornecedor.nome }}</td> 
                    <td>{{ fornecedor.cnpj }}</td> 
                    <td>{{ fornecedor.ie }}</td> 
                    <td>{{ fornecedor.endereco }}</td>  
                    <td>{{ fornecedor.email }}</td> 
                    <td>   
                        <span class="d-flex justify-content-end">  
                            <button type="button" class="btn btn-success  me-2" (click)="Editar(fornecedor.id)">Atualizar</button>  
                            <button type="button" class="btn btn-danger" (click)="Excluir(fornecedor.id)">Deletar</button>  
                        </span>  
                    </td>  
                </tr>  
            </tbody>  
        </table>  
    </div>  
</div> 