.background{
    height: 100%;
    width: 100%;
}
.icone{
    display: flex;
    justify-content: flex-end;
}
button{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0cap;
}